/* Chat containers */
.container {
    max-height: 500px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 99px;
    padding-left: 45px;
    margin: 14px 0;
    margin-left: 109px;
    margin-right: 109px;

}

.form-group {
    margin-left: 109px;
    margin-right: 109px;
}


.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chat {
    overflow: auto;
    height: 642px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}


.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;

    max-height: 90px;
    object-fit: cover;
}


.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}


.time-right {
    float: right;
    color: #aaa;
}


.time-left {
    float: left;
    color: #999;
}