/* HTML elements  */

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.75em;
    margin-bottom: .5142em;
    padding-top: .2em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: .7em;
    padding-top: .3em;
}

h4 {
    font-size: 1.25em;
    margin-bottom: .6em;
}

h5, h6 {
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: bold;
}

p, blockquote, ul, ol, dl, form, table, pre {
    line-height: inherit;
    margin: 0 0 1.5em 0;
}

ul, ol, dl {
    padding: 0;
}

ul ul, ul ol, ol ol, ol ul, dd {
    margin: 0;
}

li {
    margin: 0 0 0 2em;
    padding: 0;
    display: list-item;
    list-style-position: outside;
}

blockquote, dd {
    padding: 0 0 0 2em;
}

pre, code, samp, kbd, var {
    font: 100% mono-space, monospace;
}

pre {
    overflow: auto;
}

abbr, acronym {
    text-transform: uppercase;
    border-bottom: 1px dotted #000;
    letter-spacing: 1px;
}

abbr[title], acronym[title] {
    cursor: help;
}

small {
    font-size: .9em;
}

sup, sub {
    font-size: .8em;
}

em, cite, q {
    font-style: italic;
}

img {
    border: none;
}

hr {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, caption {
    text-align: left;
}

form div {
    margin: .5em 0;
    clear: both;
}

label {
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"], .radio, .checkbox {
    margin: 0 .25em 0 0;
}

/* //  HTML elements */

/* base */

body, table, input, textarea, select, li, button {
    font: 1em Helvetica, Arial, Sans-Serif;
    line-height: 1.5em;
    color: #333;
}

body {
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a, a:visited {
    text-decoration: none;
    color: #06C;
}

a:hover {
    color: #999;
}

/* base */

/* content */

#container {
    margin: 0 auto;
    width: 1088px;
    text-align: left;
    position: relative;
    padding: 2em 0;
}

ul#itemsAccount {
    margin: 1em 0;
    width: auto;
    height: 245px;
    overflow: hidden;
}

ul#itemsAccount li {
    list-style: none;
    float: left;
    height: 240px;
    overflow: hidden;
    margin: 0 4px;
    background: #DBDAE0;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #777;
    -webkit-box-shadow: 0 1px 1px #777;
    box-shadow: 0 1px 1px #777;
    color: #555;
}

ul#itemsAccount li:hover {
    color: #333;
}

ul#itemsAccount li .image {
    margin: 20px 20px 10px 20px;
    width: 220px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #fff;
    -moz-box-shadow: 0 1px 1px #bbb;
    -webkit-box-shadow: 0 1px 1px #bbb;
    box-shadow: 0 1px 1px #bbb;
}

ul#itemsAccount h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: .25em 0;
    text-shadow: #f1f1f1 0 1px 0;
}

ul#itemsAccount .info {
    color: #999;
    text-shadow: #f1f1f1 0 1px 0;
}

ol#pagination {
    position: relative;
    text-align: center;
}

ol#pagination li {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(right.png) no-repeat 0 0;
    text-align: left;
    text-indent: 1px;
    list-style: none;
    cursor: pointer;
    margin: 0 2px;
}

ol#pagination li:hover {
    background: url(right.png) no-repeat 0 -16px;
}

ol#pagination li.current {
    color: #f00;
    font-weight: bold;
    background: url(right.png) no-repeat 0 -32px;
}

ol#pagination li.prev, ol#pagination li.next {
    position: absolute;
    top: -150px;
}

ol#pagination li.prev {
    left: -61px;
    background: url(right.png) no-repeat 0 -64px;
}

ol#pagination li.next {
    right: -30px;
    background: url(right.png) no-repeat 0 -48px;
}

/* HTML elements  */

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1em;
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.75em;
    margin-bottom: .5142em;
    padding-top: .2em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: .7em;
    padding-top: .3em;
}

h4 {
    font-size: 1.25em;
    margin-bottom: .6em;
}

h5, h6 {
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: bold;
}

p, blockquote, ul, ol, dl, form, table, pre {
    line-height: inherit;
    margin: 0 0 1.5em 0;
}

ul, ol, dl {
    padding: 0;
}

ul ul, ul ol, ol ol, ol ul, dd {
    margin: 0;
}

li {
    margin: 0 0 0 2em;
    padding: 0;
    display: list-item;
    list-style-position: outside;
}

blockquote, dd {
    padding: 0 0 0 2em;
}

pre, code, samp, kbd, var {
    font: 100% mono-space, monospace;
}

pre {
    overflow: auto;
}

abbr, acronym {
    text-transform: uppercase;
    border-bottom: 1px dotted #000;
    letter-spacing: 1px;
}

abbr[title], acronym[title] {
    cursor: help;
}

small {
    font-size: .9em;
}

sup, sub {
    font-size: .8em;
}

em, cite, q {
    font-style: italic;
}

img {
    border: none;
}

hr {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, caption {
    text-align: left;
}

form div {
    margin: .5em 0;
    clear: both;
}

label {
    display: block;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"], .radio, .checkbox {
    margin: 0 .25em 0 0;
}

/* //  HTML elements */

/* base */

body, table, input, textarea, select, li, button {
    font: 1em Helvetica, Arial, Sans-Serif;
    line-height: 1.5em;
    color: #333;
}

body {
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 20px;
}

a, a:visited {
    text-decoration: none;
    color: #06C;
}

a:hover {
    color: #999;
}

/* base */

/* content */

#container2 {
    margin: 0 auto;
    width: 1088px;
    text-align: left;
    position: relative;
    padding: 2em 0;
}

ul#itemsGroup {
    margin: 1em 0;
    width: auto;
    height: 245px;
    overflow: hidden;
}

ul#itemsGroup li {
    list-style: none;
    float: left;
    height: 240px;
    overflow: hidden;
    margin: 0 4px;
    background: #DBDAE0;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #777;
    -webkit-box-shadow: 0 1px 1px #777;
    box-shadow: 0 1px 1px #777;
    color: #555;
}

ul#itemsGroup li:hover {
    color: #333;
}

ul#itemsGroup li .image {
    margin: 20px 20px 10px 20px;
    width: 220px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #fff;
    -moz-box-shadow: 0 1px 1px #bbb;
    -webkit-box-shadow: 0 1px 1px #bbb;
    box-shadow: 0 1px 1px #bbb;
}

ul#itemsGroup h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: .25em 0;
    text-shadow: #f1f1f1 0 1px 0;
}

ul#itemsGroup .info {
    color: #999;
    text-shadow: #f1f1f1 0 1px 0;
}

ol#pagination2 {
    position: relative;
    text-align: center;
}

ol#pagination2 li {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(right.png) no-repeat 0 0;
    text-align: left;
    text-indent: 1px;
    list-style: none;
    cursor: pointer;
    margin: 0 2px;
}

ol#pagination2 li:hover {
    background: url(right.png) no-repeat 0 -16px;
}

ol#pagination2 li.current {
    color: #f00;
    font-weight: bold;
    background: url(right.png) no-repeat 0 -32px;
}

ol#pagination2 li.prev, ol#pagination2 li.next {
    position: absolute;
    top: -150px;
}

ol#pagination2 li.prev {
    left: -61px;
    background: url(right.png) no-repeat 0 -64px;
}

ol#pagination2 li.next {
    right: -30px;
    background: url(right.png) no-repeat 0 -48px;
}

/* // content */